<div class="row justify-content-center p-1">
  <div class="col-md-3">
    <div class="card shadow m-5 p-3">
      <h5 class="card-body">
        <h3 class="card-title">Recruiter Log In</h3>
        <hr />
        <form role="form">
          <div class="form-group">
            <label for="exampleInputEmail1">
              Email address
            </label>
            <input type="email" class="form-control" id="exampleInputEmail1" />
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">
              Password
            </label>
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>

          <button type="submit" class="btn btn-primary" (click)="doLogin()">
            Log In
          </button>
        </form>
        <!-- <button type="button" class="btn btn-primary" (click)="doTest()">
          test
        </button> -->
      </h5>
    </div>
  </div>
</div>
