<div class="row justify-content-center p-1">
  <div class="col-md-8">
    <div class="card shadow m-5 p-3">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Job Title</th>
              <th scope="col">Job Description</th>
              <th scope="col">Company Address</th>
              <th scope="col">Job Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of fullData">
              <td scope="row">
                {{ data.jobTitle }}
              </td>
              <td>
                {{ data.jobDescription }}
              </td>
              <td>
                {{ data.companyAddrOne }} <br />
                {{ data.companyAddrTwo }} <br />
                {{ data.postcode }} {{ data.companyCity }}
              </td>
              <td>
                <span *ngIf="!!data.jobStatusOn" style="color: green;"
                  >Open</span
                >
                <span *ngIf="!data.jobStatusOn" style="color: red;"
                  >Closed</span
                >
              </td>
              <td>
                <button
                  type="button"
                  class="btn btn-secondary btn-sm mr-1"
                  (click)="doEdit(data)"
                >
                  edit
                </button>
                <button
                  type="button"
                  class="btn btn-danger btn-sm"
                  (click)="doDelete(data)"
                >
                  delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
