<div class="row justify-content-center">
  <div class="col-md-5">
    <div class="card bg-light shadow text-dark my-2">
      <h5 class="card-header">
        {{ detailsData.jobTitle }}
      </h5>
      <div class="card-body">
        <p class="card-text">
          {{ detailsData.jobDescription }}
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card text-dark shadow bg-light my-2">
      <h5 class="card-header">
        Location
      </h5>
      <div class="card-body">
        <p class="card-text">
          {{ detailsData.companyAddrOne }} <br />
          {{ detailsData.companyAddrTwo }} <br />
          {{ detailsData.postcode }} {{ detailsData.companyCity }}
        </p>
      </div>
    </div>
    <div class="card text-dark shadow bg-light my-2">
      <h5 class="card-header">
        Info
      </h5>
      <div class="card-body">
        <p class="card-text">
          Recruiter: {{ detailsData.poster }} <br />
          Post Date: {{ detailsData.date | date: "fullDate" }} <br />
          Job Status:
          <span *ngIf="detailsData.jobStatusOn == 'false'" style="color: red;"
            >Closed</span
          >
          <span *ngIf="detailsData.jobStatusOn == 'true'" style="color:green"
            >Open</span
          >
        </p>
      </div>
    </div>
  </div>
</div>
