<div class="row justify-content-center p-1">
  <div class="col-md-3">
    <div class="card shadow m-5 p-3">
      <h5 class="card-body">
        <h3 class="card-title">Job Details</h3>
        <hr />
        <form
          role="form"
          #postForm="ngForm"
          (ngSubmit)="onCreatePost(postForm.value)"
        >
          <div class="form-group">
            <label for="jobTitle">
              Job Title
            </label>
            <input
              type="text"
              class="form-control"
              id="jobTitle"
              name="jobTitle"
              ngModel
              required
            />
          </div>

          <div class="form-group">
            <label for="jobDescription">Job Description</label>
            <textarea
              class="form-control"
              id="jobDescription"
              rows="3"
              name="jobDescription"
              ngModel
              required
            ></textarea>
          </div>

          <div class="form-group">
            <label for="companyAddrOne">
              Company address 1
            </label>
            <input
              type="text"
              class="form-control"
              id="companyAddrOne"
              name="companyAddrOne"
              ngModel
              required
            />
          </div>

          <div class="form-group">
            <label for="companyAddrTwo">
              Company address 2
            </label>
            <input
              type="text"
              class="form-control"
              id="companyAddrTwo"
              name="companyAddrTwo"
              ngModel
              required
            />
          </div>

          <div class="form-group">
            <label for="companyCity">
              City
            </label>
            <input
              type="text"
              class="form-control"
              id="companyCity"
              name="companyCity"
              ngModel
              required
            />
          </div>

          <div class="form-group">
            <label for="postcode">
              Postcode
            </label>
            <input
              type="number"
              class="form-control"
              id="postcode"
              name="postcode"
              ngModel
              required
            />
          </div>

          <div class="form-group">
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="jobStatusOn"
                name="jobStatusOn"
                ngModel
              />
              <label class="form-check-label" for="jobStatusOn"
                >Job Status On</label
              >
            </div>
          </div>

          <input
            type="hidden"
            id="date"
            name="date"
            [(ngModel)]="date"
            required
          />

          <input
            type="hidden"
            id="poster"
            name="poster"
            [(ngModel)]="poster"
            required
          />

          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!postForm.valid"
          >
            Post
          </button>
          <button type="submit" class="btn btn-danger ml-2" (click)="goHome()">
            Cancel
          </button>
        </form>
      </h5>
    </div>
  </div>
</div>
