<div class="row p-2">
  <div class="col-md-9">
    <ul class="nav">
      <li class="nav-item">
        <a *ngIf="isLogin == 'false'" class="nav-link" href="#" routerLink="/"
          ><h5>Home</h5></a
        >
        <a
          *ngIf="isLogin == 'true'"
          class="nav-link"
          href="#"
          routerLink="recHome"
          ><h5>Home</h5></a
        >
      </li>
    </ul>
  </div>
  <div class="col-md-3">
    <button
      *ngIf="isLogin == 'false'"
      type="button"
      class="btn btn-danger btn-md"
      routerLink="/loginPage"
    >
      Recruiter
    </button>
    <button
      *ngIf="isLogin == 'true'"
      type="button"
      class="btn btn-danger btn-md"
      routerLink="/loginPage"
      (click)="doLogout()"
    >
      Logout
    </button>
  </div>
</div>
