<div class="row justify-content-center p-1">
  <div class="col-md-8">
    <div class="card shadow m-5 p-3">
      <div class="row">
        <div class="col-md-6 text-center">
          <button class="btn btn-light rounded-circle" routerLink="/recEdit">
            <img
              style="width: 100%;"
              src="../../../../assets/img/editIcon.png"
            />
          </button>
        </div>
        <div class="col-md-6 text-center">
          <button class="btn btn-light rounded-circle" routerLink="/recPost">
            <img
              style="width: 100%;"
              src="../../../../assets/img/postIcon.jpeg"
            />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
