<div class="row">
  <div class="col-md-12">
    <div class="row justify-content-center bg-light p-1">
      <div class="col-md-4">
        <div class="input-group md-form form-sm form-2 pl-0">
          <input
            class="form-control my-0 py-1 amber-border"
            type="text"
            placeholder="Search Title"
            aria-label="Search"
          />
          <div class="input-group-append">
            <span class="input-group-text amber lighten-3" id="basic-text1"
              ><button class="btn" type="button" (click)="onSearch()">
                Search
              </button></span
            >
          </div>
        </div>
      </div>
    </div>

    <!-- job card list start here -->
    <div class="row justify-content-center my-4" *ngFor="let data of fullData">
      <div class="col-md-4">
        <div
          class="card text-dark bg-light rounded shadow"
          (click)="goDetails(data)"
        >
          <!-- [routerLink]="['/jobDetail', data]" -->

          <h5 class="card-header">
            {{ data.jobTitle }}
          </h5>
          <div class="card-body">
            <p class="card-text">
              {{ data.jobDescription }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
